<div class="jumbotron jumbo-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-title">
                <h1 class="page-title-text">Contact Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 page-text">
                <p>A nightclub (also known as a discothèque, disco, dance club or club) is an entertainment venue which usually operates late into the night. 
                    A nightclub is generally distinguished from bars, pubs or taverns by the inclusion of a dance floor and a DJ booth, where a DJ plays recorded music. 
                    The busiest nights for a nightclub are Friday and Saturday night.

                    The music in nightclubs is either live bands or, more commonly, a mix of songs played by a DJ through a powerful PA system. Most clubs or club nights cater to certain music genres.
                </p>
            </div>
        </div>
    </div>
</div>