<div class="jumbotron jumbo-dresscode">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-title">
                <h1 class="page-title-text">Dress Code</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 page-text">
                <p>Many nightclubs enforce a dress code in order to ensure a certain type of clientele is in attendance at the venue. 
                    Some upscale nightclubs ban attendees from wearing trainers (sneakers) or jeans while other nightclubs will advertise a vague "dress to impress" dress code that allows the 
                    bouncers to discriminate at will against those vying for entry to the club.

                    Many exceptions are made to nightclub dress codes, with denied entry usually reserved for the most glaring rule breakers or those thought to be unsuitable for the party. 
                    Certain nightclubs like fetish nightclubs may apply a dress code (BDSM) to a leather-only, rubber-only or fantasy dress code. 
                    The dress code criterion is often an excuse for discriminatory practices, such as in the case of Carpenter v. Limelight Entertainment Ltd.
                </p>
                <ul class="page-list">
                    <li>Smart casual clothing</li>
                    <li>Denim jeans</li>
                    <li>Formal clothing</li>
                    <li>Leather dress shoes</li>
                    <li>Revealing clothing encouraged</li>
                </ul>
                <small class="page-small">Patrons wearing clothing deemed not sexy or revealing may be denied entry. No offence is intended.</small>
            </div>
        </div>
    </div>
</div>